body {
    font-family: Arial, sans-serif;
}

header {
    margin-bottom: 20px;
}

.card {
    border: none;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}

.card .card-img-top{
  height: 400px;
  object-fit: cover;
}
.card-img-top2{
  height: 400px;
}